.fadeIn {
    /* transition: all 0.5s; */
    
    animation: fadeIn 1s;
    
    transform-origin: 0 0;
}

@keyframes fadeIn {
    0% {
        
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }

}
