.statusLine {
    padding: 13px 20px;
    
    position: relative;
    
    transform: translateZ(0);
    
    border-bottom: 1px solid #eee;
}


.statusLine.issues{
    background: #fffeed
}


.statusLine .name {
    font-family: 'Source Sans Pro';
    font-weight: 600; 
}


.statusLine .toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999;
    cursor: pointer;
    
}
.statusLine .toggle:hover {
    color: #000;
}

.statusLine .material-icons {
    font-size: 26px;
}


.statusLine .marker {
    position: absolute;
    top: 0;
    bottom: -1px;
    left:0;
    /* right: 0; */
    width: 5px;
    /* right: 0; */
    /* height: 10px; */
    /* border-radius: 50%; */
    z-index: -1;
    
}



.bakerloo .marker {
    background: #894e24;
}

.central .marker {
    background: #dc241f;
}

.circle .marker {
    background: #ffce00;
}

.district .marker {
    background: #007229;
}

.hammersmith-city .marker {
    background: #d799af;
}

.dlr .marker {
    background: #00b1a8;
}

.jubilee .marker {
    background: #667070;
}

.metropolitan .marker {
    background: #82034f;
}

.northern .marker {
    background: #000000;
}



.piccadilly .marker {
    background: #01229f;
}

.victoria .marker {
    background: #00a1e1;
}

.waterloo-city .marker {
    background: #43d3bb;
}

.tfl-rail .marker {
    background: #01229f;
}

.tram .marker {
    background: #19cf3e;
}
.london-overground .marker {
    background: #fd6000;
}