.statusLineIssue {
    padding: 20px 80px 0 30px;
    position: relative;
    margin: 0 0 20px 0;
}

.statusLineIssue:last-child {
    margin-bottom: 0;
}

.statusLineIssue:before {
    content: "";
    position: absolute;
    top:28px;
    left:8px;
    width: 12px;
    height: 2px;
    background: #ccc;
}

statusLineIssue__description {
    
}